<body>
  <div class="authblock">
    <img src="/images/Zonelogo.png" class="zonelogin">
    <div class="authtitle">
      <h2>Login.</h2>
      <h3 class="account-message">
        Don't have an account yet?
        <a href="/signup">Create your account</a>
        </>
      </h3>
    </div>
  </div>

  <div class="champsinput">
    <form action="/login" method="POST" id="formContainer">

      <label for="email">Email</label>
      <input class="inputbox" id="email" type="text" name="email" placeholder="@">
      <br>
      <label for="password">Password</label>
      <input class="inputbox" id="password" type="password" name="password" placeholder="Your password">
      <br style="clear:both;" /> {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br>
      <br>


      <button class="loginButton">Login</button>
    </form>
  </div>
</body>