<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
  crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" />

<html lang="en">
  
<body>
  <div class="authblock">
    <img src="/images/Zonelogo.png" class="zonelogin">
    <div class="authtitle">
      <h2>Login.</h2>
      <h3 class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">Create your account</a>
        </>
      </h3>
    </div>
  </div>

  <div class="champsinput">
    <form action="/auth/login" method="POST" id="formContainer">

      <label for="username">Email</label>
      <input class="inputbox" id="email" type="text" name="email" placeholder="@">
      <br>
      <label for="password">Password</label>
      <input class="inputbox" id="password" type="password" name="password" placeholder="Your password">
      <br style="clear:both;" /> {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br>
      <br>


      <button class="loginButton" href="auth/login" >Login</button>
    </form>
  </div>
</body>