<body>
  <div class="authblock">
    <img src="/images/Zonelogo.png" class="zonelogin">
    <div class="authtitle">
      <h2>Get Started <br> with a free account.</h2>
    </div>
  </div>

<div class="champsinput">
  <form action="/auth/signup" method="POST" id="form-container">
    <label for="firstName">First Name</label>
    <input class="inputbox" id="firstName" type="text" name="firstName" placeholder="Your first name">

    <br>


    <label for="lastName">Last Name</label>
    <input class="inputbox" id="lastName" type="text" name="lastName" placeholder="Your last name">

    <br>

    <label for="company">Your Company</label>
    <input class="inputbox" id="company" type="text" name="company" placeholder="Your company name">

    <br>

    <label for="email">Email</label>
    <input class="inputbox" id="email" type="text" name="email" placeholder="@">

    <br>

    <label for="password">Password</label>
    <input class="inputbox" id="password" type="password" name="password" placeholder="Your password">
    <br style="clear:both;"> {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br>

    <button class="loginButton">Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/login">Login</a>
    </p>
  </form>
</div>