<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> user dashboard </title>
</head>
<body>
  <p>Welcome {{user.firstName}}, this is your dashboard</p>
  <form action="">
    <label for="artistDetails"></label>
        <input class="inputbox" id="artistDetails" type="text" name="firstName" placeholder="Type here">
  </form>
</body>
</html>