<p>Welcome {{user.firstName}}, this is your dashboard</p>



{{! Frmaulaire de recherche d'artistes dans l'API }}

<form action="/dashboard" method="GET">
Artist:<br>
 <input  class= "type-artist-name"  type="text" name="artist" value="{{queryname}}" placeholder="TYPE ARTIST NAME HERE"><br>
 <button class= "search-button" type="submit">Search</button>
</form>


{{! Résultats des artistes trouvés par rapport à la queryname }}


<ul>
  {{#each artistsfound}}
  <li>
    <form action="/dashboard" method="POST">
      <input type="hidden" name="artistid" value={{id}}>
      <button>{{name}}</button>
    </form>
  </li>
  {{/each}}
</ul>



{{! Artists que je follow déjà }}
<ul>
  liste de mes artistes TODO
</ul>
