<p>Welcome {{user.firstName}}, this is your dashboard</p>

<div class="searchbar">
    <form>
        <input class = "inputsearchbar" type="text" placeholder="TYPE YOUR ARTIST HERE">
    </form>
</div>

<button class="searchButton">FOLLOW THIS ARTIST</button>

