<p>Welcome {{user.firstName}}, this is your dashboard</p>

<div class="dashboard-layout">
    <form action="/dashboard" method="POST">
        <input class="inputsearchbar" type="text" name="artist">   
        <button type="submit" value="Submit" class="searchButton">FOLLOW THIS ARTIST</button>
    </form>

     <ul>
        {{#each artists}}
            <li class="inputbox list" id="selectArtist">{{name}}</li>
        {{/each}}
    </ul>


</div>