<body>
<div class="authblock">
    <img src="{{#if user.avatarUrl}}{{user.avatarUrl}}{{else}}/images/profile.png{{/if}}" height="50" width="50" class="profilePic">
    <div class="authtitle">
      <h2>My profile</h2>
    </div>
    <br>
    <br>
</div>


    <div class="champsinput">
      <form action="/profile" method="POST" id="form-picture-container" enctype="multipart/form-data">

        <label for="picture">Uplodad a new picture</label>
        <input id="picture" type="file" name="photo" placeholder="Your picture" >
        <br>

        <label for="firstName">First Name</label>
        <input class="inputbox" id="firstName" type="text" name="firstName" placeholder="Your first name" required>

        <br>

        <label for="lastName">Last Name</label>
        <input class="inputbox" id="lastName" type="text" name="lastName" placeholder="Your last name" required>

        <br>

        <label for="company">Company</label>
        <input class="inputbox" id="company" type="text" name="company" placeholder="Your company name" required>

        <br>

        <label for="email">Email</label>
        <input class="inputbox" id="email" type="text" name="email" placeholder="Your email" required>

        <br>

        <button type="submit" value="Submit" class="loginButton">Save changes</button>
      </form>

</body>