<h2>My profile</h2>

<img src="../public/images/profile.png" height="50" width="50">

  <br><br>

<form action="/profile" method="POST" id="form-container">

  <label for="picture">Uplodad my picture</label>
  <input id="picture" type="file" name="myPicture" placeholder="Your picture">

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" placeholder="Your first name">

  <br><br>

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" placeholder="Your last name">

  <br><br>

  <label for="company">Your Company</label>
  <input id="company" type="text" name="company" placeholder="Your company name">

  <br><br>
  
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Your email">

  <br><br>

</form>


