@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #474F5A;
}

h2 {
  font-size: 54px;
  font-weight:lighter;
}

h3 {
  font-size: 24px;
  font-weight:lighter;
}

.authblock{
  font-family: 'Zilla slab', serif;
  color: #FFFFFF;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.authtitle{
  margin: 10px 10px 10px 10px;
}

.zonelogin{
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 70px;
    width: 141px;
    height: 48px;
    margin-top: 50px;
}

.account-message :link{
  color:white;
  
}

.account-message :visited {
  color: white;
}

.account-message :hover {
  color:#CBCFD4	;
}

.inputbox{
  background: #FFFFFF;
  border-radius: 3px;
  width: 275px;
  height: 40px;
}

label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  font-size: 10px;
  text-transform: uppercase;
  color: #CBCFD4;
}

.champsinput{
  width: 50%;
  margin: 0 auto;
}

.champsinput input {
    display:block;
}

.champsinput label {
  display:block;
}


.loginButton{
  width: 200px;
  height: 40px;
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
  border-radius: 20px;
  border-color:transparent;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

}

.error-message{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  color: lightgrey;
}

.nav-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

